<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="KinectFMT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <KinectFMT.Properties.Settings>
            <setting name="HandCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DPI" serializeAs="String">
                <value>96</value>
            </setting>
            <setting name="DefaultLanguage" serializeAs="String">
                <value>en-EN</value>
            </setting>
            <setting name="BackgroundPath" serializeAs="String">
                <value />
            </setting>
            <setting name="BrandPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedImagesPath" serializeAs="String">
                <value />
            </setting>
            <setting name="PrincipalX" serializeAs="String">
                <value>260</value>
            </setting>
            <setting name="PrincipalY" serializeAs="String">
                <value>204</value>
            </setting>
            <setting name="FocalLengthX" serializeAs="String">
                <value>366</value>
            </setting>
            <setting name="FocalLengthY" serializeAs="String">
                <value>366</value>
            </setting>
            <setting name="RadialDistortionSixth" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="RadialDistortionForth" serializeAs="String">
                <value>-0.271</value>
            </setting>
            <setting name="RadialDistortionSecond" serializeAs="String">
                <value>0.085</value>
            </setting>
            <setting name="SmtpServer" serializeAs="String">
                <value />
            </setting>
            <setting name="RootEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="PasswordEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailMessage" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailTitle" serializeAs="String">
                <value />
            </setting>
            <setting name="ForegroundPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Representative" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailPort" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="MasksPath" serializeAs="String">
                <value />
            </setting>
            <setting name="WithTables" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TablesPath" serializeAs="String">
                <value />
            </setting>
            <setting name="MulCoefficient" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="GammaCorrection" serializeAs="String">
                <value>1.8</value>
            </setting>
            <setting name="ReloadMinutes" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="GestureAccuracy" serializeAs="String">
                <value>0.9</value>
            </setting>
            <setting name="SigmaX" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="LowFps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableEmails" serializeAs="String">
                <value>False</value>
            </setting>
        </KinectFMT.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.5.0" newVersion="2.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
